# Binaries for programs and plugins
/caesium
*.exe
*.exe~
*.dll
*.so
*.dylib

# Database
*.sqlite
*.db

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
coverage.txt

# Dependency directories (remove the comment below to include it)
# vendor/

# Development tools
.devcontainer
.idea
.vscode

# LLMs
.crush
.claude

# UI
ui/node_modules
ui/dist
ui/dist-ssr
ui/*.local
ui/.env*
ui/npm-debug.log*
ui/yarn-debug.log*
ui/yarn-error.log*
ui/pnpm-debug.log*
ui/lerna-debug.log*
ui/.cache
ui/.temp
