version: 2.1

jobs:
  build:
    machine:
      image: ubuntu-2404:current
      docker_layer_caching: true
    resource_class: medium
    working_directory: /home/circleci/project
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            sudo apt-get update
            sudo apt-get install -y git just
      - run:
          name: Lint
          command: just tag=$CIRCLE_SHA1 lint
      - run:
          name: Build
          command: just tag=$CIRCLE_SHA1 build
      - run:
          name: Unit tests
          command: just tag=$CIRCLE_SHA1 unit-test
      - run:
          name: Integration tests
          command: just tag=$CIRCLE_SHA1 integration-test

workflows:
  ci:
    jobs:
      - build
