version: 2.1

jobs:
  builder:
    machine:
      image: ubuntu-2404:current
      docker_layer_caching: true
    resource_class: medium
    working_directory: /home/circleci/project
    steps:
      - checkout
      - run:
          name: Install just
          command: sudo apt-get update && sudo apt-get install -y just
      - run:
          name: Build builder image (amd64)
          command: |
            IMAGE_TAG=${CIRCLE_TAG:-$CIRCLE_SHA1}-amd64
            just tag=$IMAGE_TAG builder
      - run:
          name: Save builder image (amd64)
          command: |
            IMAGE_TAG=${CIRCLE_TAG:-$CIRCLE_SHA1}-amd64
            docker save caesiumcloud/caesium-builder:$IMAGE_TAG | gzip > /tmp/builder-amd64.tar.gz
      - persist_to_workspace:
          root: /tmp
          paths:
            - builder-amd64.tar.gz

  builder-arm64:
    machine:
      image: ubuntu-2404:current
      docker_layer_caching: true
    resource_class: arm.medium
    working_directory: /home/circleci/project
    steps:
      - checkout
      - run:
          name: Install just
          command: sudo apt-get update && sudo apt-get install -y just
      - run:
          name: Build builder image (arm64)
          command: |
            IMAGE_TAG=${CIRCLE_TAG:-$CIRCLE_SHA1}-arm64
            just tag=$IMAGE_TAG builder
      - run:
          name: Save builder image (arm64)
          command: |
            IMAGE_TAG=${CIRCLE_TAG:-$CIRCLE_SHA1}-arm64
            docker save caesiumcloud/caesium-builder:$IMAGE_TAG | gzip > /tmp/builder-arm64.tar.gz
      - persist_to_workspace:
          root: /tmp
          paths:
            - builder-arm64.tar.gz

  lint:
    machine:
      image: ubuntu-2404:current
    resource_class: medium
    working_directory: /home/circleci/project
    steps:
      - checkout
      - attach_workspace:
          at: /tmp/workspace
      - run:
          name: Install just
          command: sudo apt-get update && sudo apt-get install -y just
      - run:
          name: Load builder image
          command: gunzip -c /tmp/workspace/builder-amd64.tar.gz | docker load
      - run:
          name: Lint
          command: |
            IMAGE_TAG=${CIRCLE_TAG:-$CIRCLE_SHA1}-amd64
            just tag=$IMAGE_TAG lint

  unit-test:
    machine:
      image: ubuntu-2404:current
    resource_class: medium
    working_directory: /home/circleci/project
    steps:
      - checkout
      - attach_workspace:
          at: /tmp/workspace
      - run:
          name: Install just
          command: sudo apt-get update && sudo apt-get install -y just
      - run:
          name: Load builder image
          command: gunzip -c /tmp/workspace/builder-amd64.tar.gz | docker load
      - run:
          name: Unit tests
          command: |
            IMAGE_TAG=${CIRCLE_TAG:-$CIRCLE_SHA1}-amd64
            just tag=$IMAGE_TAG unit-test

  unit-test-arm64:
    machine:
      image: ubuntu-2404:current
    resource_class: arm.medium
    working_directory: /home/circleci/project
    steps:
      - checkout
      - attach_workspace:
          at: /tmp/workspace
      - run:
          name: Install just
          command: sudo apt-get update && sudo apt-get install -y just
      - run:
          name: Load builder image
          command: gunzip -c /tmp/workspace/builder-arm64.tar.gz | docker load
      - run:
          name: Unit tests (arm64)
          command: |
            IMAGE_TAG=${CIRCLE_TAG:-$CIRCLE_SHA1}-arm64
            just tag=$IMAGE_TAG unit-test

  build-and-integration-test:
    machine:
      image: ubuntu-2404:current
    resource_class: medium
    working_directory: /home/circleci/project
    steps:
      - checkout
      - attach_workspace:
          at: /tmp/workspace
      - run:
          name: Install just
          command: sudo apt-get update && sudo apt-get install -y just
      - run:
          name: Load builder image
          command: gunzip -c /tmp/workspace/builder-amd64.tar.gz | docker load
      - run:
          name: Build release image (amd64)
          command: |
            IMAGE_TAG=${CIRCLE_TAG:-$CIRCLE_SHA1}-amd64
            just tag=$IMAGE_TAG build
      - run:
          name: Integration tests (amd64)
          command: |
            IMAGE_TAG=${CIRCLE_TAG:-$CIRCLE_SHA1}-amd64
            just tag=$IMAGE_TAG integration-test
      - run:
          name: Save release image (amd64)
          command: |
            IMAGE_TAG=${CIRCLE_TAG:-$CIRCLE_SHA1}-amd64
            docker save caesiumcloud/caesium:$IMAGE_TAG | gzip > /tmp/release-amd64.tar.gz
      - persist_to_workspace:
          root: /tmp
          paths:
            - release-amd64.tar.gz

  build-and-integration-test-arm64:
    machine:
      image: ubuntu-2404:current
    resource_class: arm.medium
    working_directory: /home/circleci/project
    steps:
      - checkout
      - attach_workspace:
          at: /tmp/workspace
      - run:
          name: Install just
          command: sudo apt-get update && sudo apt-get install -y just
      - run:
          name: Load builder image
          command: gunzip -c /tmp/workspace/builder-arm64.tar.gz | docker load
      - run:
          name: Build release image (arm64)
          command: |
            IMAGE_TAG=${CIRCLE_TAG:-$CIRCLE_SHA1}-arm64
            just tag=$IMAGE_TAG build
      - run:
          name: Integration tests (arm64)
          command: |
            IMAGE_TAG=${CIRCLE_TAG:-$CIRCLE_SHA1}-arm64
            just tag=$IMAGE_TAG integration-test
      - run:
          name: Save release image (arm64)
          command: |
            IMAGE_TAG=${CIRCLE_TAG:-$CIRCLE_SHA1}-arm64
            docker save caesiumcloud/caesium:$IMAGE_TAG | gzip > /tmp/release-arm64.tar.gz
      - persist_to_workspace:
          root: /tmp
          paths:
            - release-arm64.tar.gz

  publish:
    machine:
      image: ubuntu-2404:current
    resource_class: medium
    working_directory: /home/circleci/project
    steps:
      - checkout
      - attach_workspace:
          at: /tmp/workspace
      - run:
          name: Load release images
          command: |
            gunzip -c /tmp/workspace/release-amd64.tar.gz | docker load
            gunzip -c /tmp/workspace/release-arm64.tar.gz | docker load
      - run:
          name: Login to Docker Hub
          command: echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
      - run:
          name: Push multi-arch manifest
          command: |
            IMAGE_TAG=${CIRCLE_TAG:-$CIRCLE_SHA1}
            docker push caesiumcloud/caesium:${IMAGE_TAG}-amd64
            docker push caesiumcloud/caesium:${IMAGE_TAG}-arm64
            docker manifest create caesiumcloud/caesium:${IMAGE_TAG} \
              caesiumcloud/caesium:${IMAGE_TAG}-amd64 \
              caesiumcloud/caesium:${IMAGE_TAG}-arm64
            docker manifest push caesiumcloud/caesium:${IMAGE_TAG}

workflows:
  ci:
    jobs:
      - builder
      - builder-arm64
      - lint:
          requires:
            - builder
      - unit-test:
          requires:
            - builder
      - unit-test-arm64:
          requires:
            - builder-arm64
      - build-and-integration-test:
          requires:
            - builder
      - build-and-integration-test-arm64:
          requires:
            - builder-arm64
      - publish:
          requires:
            - lint
            - unit-test
            - unit-test-arm64
            - build-and-integration-test
            - build-and-integration-test-arm64
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/
